Repository MasterSergius/acachecontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.720
      hooks:
          - id: mypy
            args: [ --allow-redefinition, --ignore-missing-imports ]

    - repo: local
      hooks:
          - id: isort
            name: "Sort imports"
            language: system
            types: [ file, python ]
            entry: isort
          - id: black
            name: "Black"
            language: system
            files: ^src/|^tests/
            types: [ file, python ]
            entry: black
          - id: pylint-src
            name: "PyLint on src/*"
            language: system
            pass_filenames: false
            entry: pylint --init-hook="import sys; sys.setrecursionlimit(2000)" src
          - id: pylint-tests
            name: "PyLint on tests/*"
            language: system
            pass_filenames: false
            entry: pylint --disable=missing-docstring tests

Changed line_length
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

Updated authors
  setup.py
Due: isort

Added 'init' make command
  .pre-commit-config.yaml
  Makefile
Due: none

Fixed CI
  .github/workflows/python-package.yml
  Makefile
Due: none

Fixed CI
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  Makefile
  setup.py
  test_requirements.txt
Due: isort

Fixed deps
  test_requirements.txt
Due: none

python 3.9
  .github/workflows/python-package.yml
Due: none

Removed 3.9
  .github/workflows/python-package.yml
  setup.py
Due: isort

Added pre-commit (#2)
  .github/workflows/python-package.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  requirements.txt
  setup.py
  src/acachecontrol/__init__.py
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
  test_requirements.txt
  tests/integration/test_acachecontrol.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Added hashing params dict
  pyproject.toml
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
  src/acachecontrol/request_context_manager.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Fixed dict hashing
  src/acachecontrol/cache.py
Due: isort, black

Added hashing params dict (#3)
  pyproject.toml
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
  src/acachecontrol/request_context_manager.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Fixed request context manager
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/request_context_manager.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Fixed request context manager (#4)
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/request_context_manager.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Parse cache-control header, change how value is stored
  setup.py
  src/acachecontrol/cache.py
  src/acachecontrol/exceptions.py
  src/acachecontrol/request_context_manager.py
  tests/integration/test_acachecontrol.py
Due: isort, black

Bump version to 0.1.0
  src/acachecontrol/__init__.py
Due: isort, black

Update src/acachecontrol/cache.py
  src/acachecontrol/cache.py
Due: isort, black

Update tests/integration/test_acachecontrol.py
  tests/integration/test_acachecontrol.py
Due: isort, black

Fix according to review
  src/acachecontrol/cache.py
Due: isort, black

Add cache expiration, add logging.
  src/acachecontrol/__init__.py
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
  src/acachecontrol/request_context_manager.py
Due: isort, black

Fix lint errors
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
Due: isort, black

Set defatult max-age
  src/acachecontrol/cache.py
Due: isort, black

Fix according to review
  src/acachecontrol/cache.py
  src/acachecontrol/request_context_manager.py
Due: isort, black

Remove invalid docstring
  src/acachecontrol/cache.py
Due: isort, black

Update log messages
  src/acachecontrol/cache.py
Due: isort, black

Fix according to review
  src/acachecontrol/request_context_manager.py
Due: isort, black

Add cache expiration, add logging. (#6)
  src/acachecontrol/__init__.py
  src/acachecontrol/cache.py
  src/acachecontrol/request_context_manager.py
Due: isort, black

Add unittest, resolve TODO in test.
  tests/integration/test_acachecontrol.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Add no-cache and no-store directives
  src/acachecontrol/cache.py
  tests/integration/test_acachecontrol.py
  tests/unit/test_cache.py
Due: isort, black

Fix lint errors
  tests/integration/test_acachecontrol.py
  tests/unit/test_cache.py
Due: isort, black

Add no-cache and no-store directives (#8)
  src/acachecontrol/cache.py
  tests/integration/test_acachecontrol.py
  tests/unit/test_cache.py
Due: isort, black

Update development_notes.md
  development_notes.md
Due: none

Add http methods: head, put, patch, delete
  src/acachecontrol/__init__.py
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/request_context_manager.py
  tests/integration/test_acachecontrol.py
  tests/unit/test_acachecontrol.py
Due: isort, black

Fix acccording to review.
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
  tests/unit/test_cache.py
Due: isort, black

Add http methods: head, put, patch, delete (#9)
  src/acachecontrol/__init__.py
  src/acachecontrol/acachecontrol.py
  src/acachecontrol/cache.py
  src/acachecontrol/request_context_manager.py
  tests/integration/test_acachecontrol.py
  tests/unit/test_acachecontrol.py
  tests/unit/test_cache.py
Due: isort, black

Make time constants configurable.
  src/acachecontrol/__init__.py
  src/acachecontrol/cache.py
Due: isort, black

Make time constants configurable. (#10)
  src/acachecontrol/__init__.py
  src/acachecontrol/cache.py
Due: isort, black
